<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
</head>
<body style="text-align: center;">
    <div style="text-align: center; width: 45vw; margin-right: auto; margin-left: auto;">
        <h1 style="font-size: 40px;">Kontakt</h1>
        <hr>
    </div>
    
    <form method="post" style="font-size: 20px;">
        <label for="name" style="padding: 5px;">Imię: <input type="text" name="name" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;" required></label>
        <label for="surname" style="padding: 5px;">Nazwisko: <input type="text" name="surname" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;" required></label>
        <label for="text" style="padding: 5px;">Treść: <textarea name="text" cols="30" rows="10" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;" required></textarea></label>
        <input type="submit" style="margin-top: 10px;">
    </form>
</body>
</html>